.authForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 20px;
}

.formContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: fit-content;
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 20px;
}

.form-inner-div{
    display: flex;
    gap: 8px;
}

.textField{
    background-color: white;
    border-radius: 4px;
    border: solid gray 1px;
    padding: 4px;
}

.formButton{
    background-color: black;
    color: #646cff;
}

.formButton-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.form-error{
    color: red;
}

button:disabled{
    color: white;
    background-color: gray;
    border-color: gray;
}

.form-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.formErrors{
    color: red;
    font-size: small;
    width: 150px; ;
}

@media (max-width:720px){
    .authForm{
        flex-direction: column;
        gap: 32px;
        text-align: center;
    }
}

@media (max-width:426px){
    h1{
        font-size:xx-large ;
    }
}